[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
yapf = "==0.28"

[packages]
opencv-python-headless = "*"
opencv-python = "*"
numpy = "*

[requires]
python_version = "3.6"
